{% extends "layout.html" %}
{% block title %}
home
{% endblock %}

{% block main %}
{% if session.user_id %}
<div class="container">
  <div class="row m-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Menstruation</h5>
          <p class="card-text">What happens with body during menstruation</p>
          <a href="https://www.healthline.com/health/womens-health/stages-of-menstrual-cycle" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Menstrual Health</h5>
          <p class="card-text"> how to maintain your Menstrual health</p>
          <a href="https://www.healthline.com/health/facts-statistics-menstruation" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How menstrual Cycle works?</h5>
          <p class="card-text">Want to know How your body natural cycle works</p>
          <a href="https://www.nhs.uk/conditions/periods/fertility-in-the-menstrual-cycle/#:~:text=The%20egg%20travels%20down%20the,around%2010%20to%2016%20days." class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Conversion of cotton clothes to pad </h5>
          <p class="card-text"> How cotton clothes can be converted into Pads</p>
          <a href="https://timesofindia.indiatimes.com/most-searched-products/health-and-fitness/health-care/reusable-sanitary-pads-cotton-and-fibre-pads-for-eco-friendly-periods/articleshow/77607526.cms" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Goonj Foundation</h5>
          <p class="card-text">Get to know about their Just a Piece of Cloth scheme </p>
          <a href="https://goonj.org/the-journey-from-just-a-piece-of-cloth-to-my-pad/" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Government schemes</h5>
          <p class="card-text">Government schemes on menstruation health and hygiene </p>
          <a href="https://nhm.gov.in/index1.php?lang=1&level=3&sublinkid=1021&lid=391" class="btn b1">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  </div>

{% else %}

  <section>
    <div class="container">
      <div class="row justify-content-md-around justify-content-center align-items-center">
        <div class="col-11 col-md-5 my-3">
          <img src="static/home.svg/" alt="" class="w-100 img-cover">
     </div>
           <div class="col-11 col-md-5 my-3">
            <h1  class="text-title ">MentaLify &nbsp &nbsp</h1>
            <p class="text mt-2 fs-5" style="color:rgb(254, 127, 146)">&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp Helping others</p>
            &nbsp &nbsp&nbsp &nbsp<a class="btn btn-outline-light" href="/login">Already have an account? log in</a> <br />  <br/>
            &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp<a class="btn btn-outline-light" href="/register">Sign up for free</a> <br />  <br/>
           </div>
          
      </div>
  </div>
  </section>

<section>
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">
              <h1 class="text-title mb-3" style="color:white !important">Simplifying Mental health</h1>
              <p class="text mt-2 fs-5" style="color: rgb(254, 127, 146)"> MentaLify is developed to answer a
                 major challenge that we human face: How to manage our mental health with the help of technology
              </p>
         </div>
         <div class="col-11 col-md-5 my-3">
          <img src="static/home2.svg/" alt="" class="w-100 img-cover">
     </div>
    </div>
</div>
</section>
  
{% endif %}

</div>
{% endblock %}
